{{ $numOfParams := len .Params }}
{{ if and (ge $numOfParams 2) (le $numOfParams 4) }}
    <!-- Check if the Parameter is positional or named
         which can handle both -->
    {{ if .IsNamedParams }}
        {{ $.Scratch.Set "path" (.Get "path") }}
        {{ $.Scratch.Set "file" (.Get "file") }}
        {{ $.Scratch.Set "alt"  (.Get "alt") }}
        {{ $.Scratch.Set "type" (.Get "type") }}
    {{ else }}
        {{ $.Scratch.Set "path" (.Get 0) }}
        {{ $.Scratch.Set "file" (.Get 1) }}
        {{ if ge $numOfParams 3 }}
            {{ $.Scratch.Set "alt" (.Get 2) }}
        {{ else }}
            {{ $.Scratch.Set "alt" "" }}
        {{ end }}
        {{ if ge $numOfParams 4 }}
            {{ $.Scratch.Set "type"  (.Get 3) }}
        {{ else }}
            {{ $.Scratch.Set "type" "center" }}
        {{ end }}
    {{ end }}
    {{ $file := $.Scratch.Get "file" }}
    {{ $type := $.Scratch.Get "type" }}
    {{ $alt  := $.Scratch.Get "alt" }}
    {{ $path := $.Scratch.Get "path" }}

    {{ if eq $path "title" }}
        {{ $.Scratch.Set "path" "/img/" }}
        {{ $.Scratch.Add "path" (lower (replace .Page.LinkTitle " " "-")) }}
    {{ else if eq $path "date" }}
        {{ $.Scratch.Set "path" "/img/" }}
        {{ $.Scratch.Add "path" (.Page.Date.Format "2006/01") }}
    {{ else }}
        {{ $.Scratch.Set "path" $path }}
    {{ end }}
    {{ $path := $.Scratch.Get "path" }}
    {{ if eq $type "left" }}
        <span class="image left">
            <img src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
        </span>
    {{ else if eq $type "right" }}
        <span class="image right">
            <img src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
        </span>
    {{ else }}
        <p><span class="image center-image">
            <img src="{{ $path }}/{{ $file }}" alt="{{ $alt }}" />
        </span></p>
    {{ end }}
{{ end }}
